<h1>Spiderman</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{name}}</dd>
  <td>Edad:</td>
  <dd>{{age}}</dd>
  <td>Método:</td>
  <dd>{{getHeroDescription()}}</dd>
  <td>Capitalización</td>
  <dd>{{capitalizeName}} </dd>
</dl>




<div *ngIf="false; else pruebaElse">Hola true </div>

<ng-template #pruebaElse>
  Hola mundo
</ng-template>
<br />

<button *ngIf="name !== 'spiderman'" (click)="changeHero()" class="btn btn-primary mx-2">
  Cambiar nombre
</button>
<button *ngIf="age ==45" (click)="changeAge()" class="btn btn-primary mx-2">
  Cambiar edad
</button>
<button (click)="resetForm()" class="btn btn-primary mx-2">
  Reset form
</button>
